:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 16px;
}

body,
input,
button,
textarea,
select {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #2e4f42;
  border: none;
  outline: none;
}
